* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

.navbar {
    background: white;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.navbar-items {
    display: flex;
    list-style: none;
    align-items: center;

}

.menu-item {
    color: black;
    padding: 1.5rem;
    margin: 0 .11rem;
    text-decoration: none;
    transition: background .3s;
}

.has-sub-menu .menu-item {
    color: black;
    padding: .5rem;
    margin: 0 .11rem;
    font-size: 1rem;
    text-decoration: none;
    transition: background .3s;
}

.active {
    background: #ed3237;
    color: white;
}

.menu-item:hover {
    background: #ed3237;
    color: white;
}

.sub-menu .menu-item:hover {
    background: #f7f6f6;
    color: #ed3237;
}

.sub-menu .menu-item:hover .sub-link {
    color: #ed3237;
}

.sub-menu .menu-item {
    text-decoration: none;
}

.sub-menu {
    display: none;
}

.has-sub-menu {
    position: relative;
    text-decoration: none;
}

.has-sub-menu:hover .sub-menu {
    display: block;
}

.has-sub-menu .sub-menu-list {
    position: absolute;
    left: 0;
    top: 64px;
    background: #fff;
    color: #000;
    width: 240px;
}

.sub-menu-list .sub-menu .menu-item {
    text-transform: capitalize;
    display: block;
}

.sub-menu-list .sub-menu .menu-item:hover a {
    display: block;
}

.sub-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.sub-link:link,
.sub-link:visited {
    color: black;
}

.product-link {
    text-decoration: none;

}

.product-link:link,
.product-link:visited {
    color: black;
}

.has-sub-menu:hover .product-link {
    color: white;
}

.has-sub-menu:hover .sub-menu-list {
    border-top: 2px solid #ed3237;
}

/*********************************************/
.inner-menu-item {
    color: black;
    padding: 1.5rem;
    margin: 0 .11rem;
    text-decoration: none;
    transition: background .3s;
}

.inner-menu {
    display: none;
}

.has-inner-menu {
    position: relative;
    text-decoration: none;
}

.has-inner-menu:hover .inner-menu {
    display: block;
}

.has-inner-menu .inner-menu-list {
    position: absolute;
    left: 238px;
    top: -2px !important;
    background: #fff;
    color: #000;
    width: 240px;
}

.inner-menu-list .inner-menu .inner-menu-item {
    text-transform: capitalize;
    display: block;
}

.inner-menu-list .inner-menu .inner-menu-item:hover a {
    display: block;
}

.inner-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.has-inner-menu .inner-menu-item {
    color: black;
    padding: .5rem;
    margin: 0 .11rem;
    font-size: 1rem;
    text-decoration: none;
    transition: background .3s;
}

.inner-menu .inner-menu-item:hover {
    background: #f7f6f6;
    color: #ed3237;
}

.inner-menu .inner-menu-item:hover .inner-link {
    color: #ed3237;
}

.has-inner-menu:hover .inner-menu-list {
    border-top: 2px solid #ed3237;
    border-left: .1px solid #999;
}

.inner-link:link,
.inner-link:visited {
    color: black;
}

.fa fa-angle-right {
    color: #333;
}

.angle-right {
    display: inline-block;
    margin-left: 130px;
}

.sub-link {
    display: inline-block;

}

/*********************************************/
.logo {
    max-height: 60px;
    display: flex;

}

.logo img {
    display: block;
    width: 120px;
    height: 60px;
}

/************************************************/

.about-band {
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 1.7rem;

}

.about {
    display: flex;
    align-items: center;
    margin: 0 3rem;
}

.about h2 {
    font-weight: 500;
    font-size: 1.8rem;
}

.home-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .8rem;
    margin: 0 3rem;

}

.home-link ul {
    list-style: none;
}

.home-link ul li a {
    padding: 0 .5rem;
    text-decoration: none;
}

.home-link ul li a:link {
    color: #333;
}

.home-link ul li a:visited {
    color: #333;
}

.home-link ul li a:hover {
    color: #ed3237;
}

/*************************************************/

.features {
    padding: 4rem 2rem;
    margin: 0 10rem;
    display: grid;
    grid-template-columns: 358px repeat(2, 3fr);

}

.items {
    display: inline-block;
    margin: 1rem;
    border: 1px solid #e5e5e5;
}

.content {
    text-align: left;
    width: 100%;
    margin: 1rem .8rem;
    font-weight: 300;
}

.circle {
    padding: 1rem;
    margin: .5rem .8rem;
}

.managers {
    width: 149px;
    height: 48px;

}

span {
    padding: 1rem 0;
}

h1 {
    font-size: .8rem;
    font-weight: 400;
    font-family: cursive;
    color: #999;
    padding: .3rem 1rem;
}

h3 {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    text-align: left;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.info {
    padding: 1rem 1.3rem;
    font-size: .8rem;
    text-align: left;
    text-transform: uppercase;
    color: #555;
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.button {
    width: 147px;
    height: 40px;
    border: 1px solid #ed3237;
    border-radius: 5%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.read-link {
    text-decoration: none;
}

.read-link:link {
    color: #ed3237;
}

.read-link:visited {
    color: #ed3237;
}

.button:hover {
    background: #ed3237;
}

.button:hover .read-link {
    color: white;
}

/**********************************************************/

/*******************************************************************************/
.footer-band {
    width: 100%;
    height: 50px;
}

.footer-image {
    width: 100%;
    height: 100%;
}

/********************************************************************************/

.footer {
    width: 100%;
    height: 245px;
    background: #292929;
    color: lightgray;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

p {
    font-size: .8rem;
}

.lowernavbar ul li a {
    padding: 0 .5rem;
}

.lowernavbar ul li a:link {
    color: lightgray;
    text-decoration: none;
}

.lowernavbar ul li a:visited {
    color: lightgray;
}

.lowernavbar ul li a:hover {
    color: #777;
}
